<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Shuang Wang, Zhen-Qiang Yin, De-Yong He, Wei Chen, Rui-Qiang Wang, Peng Ye, Yao Zhou, <strong><em>Guan-Jie Fan-Yuan</strong></em>, Fang-Xiang Wang, Yong-Gang Zhu, others, Twin-field quantum key distribution over 830-km fibre, <em>Nature Photonics</em>, 16(2), 154--161, 2022.<li>
<p>Guo-Wei Zhang, Wei Chen, <strong><em>Guan-Jie Fan-Yuan</strong></em>, Li Zhang, Fang-Xiang Wang, Shuang Wang, Zhen-Qiang Yin, De-Yong He, Wen Liu, Jun-Ming An, Guang-Can Guo, Zheng-Fu Han, Polarization-insensitive quantum key distribution using planar lightwave circuit chips, <em>Science China Information Sciences</em>, 65(10), 200506, 2022.</p>
</li>
</ol>