<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Ze-Hao Wang, Shuang Wang, <strong><em>Guan-Jie Fan-Yuan</strong></em>, Feng-Yu Lu, Zhen-Qiang Yin, Wei Chen, De-Yong He, Guang-Can Guo, Zheng-Fu Han, Afterpulse effect in measurement-device-independent quantum key distribution, <em>Opt. Express</em>, 30(16), 28534--28549, 2022.<li>
<p>Shuang Wang, Zhen-Qiang Yin, De-Yong He, Wei Chen, Rui-Qiang Wang, Peng Ye, Yao Zhou, <strong><em>Guan-Jie Fan-Yuan</strong></em>, Fang-Xiang Wang, Yong-Gang Zhu, Pavel V. Morozov, Alexander V. Divochiy, Zheng Zhou, Guang-Can Guo, Zheng-Fu Han, Twin-field quantum key distribution over 830-km fibre, <em>Nature Photonics</em>, 16(2), 154-161, 2022.</p>
</li>
</ol>