<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Shuang Wang, Zhen-Qiang Yin, <strong><em>De-Yong He</strong></em>, Wei Chen, Rui-Qiang Wang, Peng Ye, Yao Zhou, Guan-Jie Fan-Yuan, Fang-Xiang Wang, Yong-Gang Zhu, Pavel V. Morozov, Alexander V. Divochiy, Zheng Zhou, Guang-Can Guo, Zheng-Fu Han, Twin-field quantum key distribution over 830-km fibre, <em>Nature Photonics</em>, 16(2), 154-161, 2022.<li>
<p>Feng-Yu Lu, Ze-Hao Wang, Zhen-Qiang Yin, Shuang Wang, Rong Wang, Guan-Jie Fan-Yuan, Xiao-Juan Huang, <strong><em>De-Yong He</strong></em>, Wei Chen, Zheng Zhou, Guang-Can Guo, Zheng-Fu Han, Unbalanced-basis-misalignment-tolerant measurement-device-independent quantum key distribution, <em>Optica</em>, 9(8), 886--893, 2022.</p>
</li>
</ol>