<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Shuang Wang, <strong><em>Zhen-Qiang Yin</strong></em>, De-Yong He, Wei Chen, Rui-Qiang Wang, Peng Ye, Yao Zhou, Guan-Jie Fan-Yuan, Fang-Xiang Wang, Yong-Gang Zhu, others others, Twin-field quantum key distribution over 830-km fibre, <em>Nature Photonics</em>, 16(2), 154--161, 2022.<li>
<p>Shuang Wang, De-Yong He, <strong><em>Zhen-Qiang Yin</strong></em>, Feng-Yu Lu, Chao-Han Cui, Wei Chen, Zheng Zhou, Guang-Can Guo, Zheng-Fu Han, Beating the fundamental rate-distance limit in a proof-of-principle quantum key distribution system, <em>Physical Review X</em>, 9(2), 021046, 2019.</p>
</li>
</ol>