<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Hong-Wei Li, Shuang Wang, Jing-Zheng Huang, Wei Chen, Zhen-Qiang Yin, Fang-Yi Li, Zheng Zhou, Dong Liu, Yang Zhang, Guang-Can Guo, Wan-Su Bao, <strong><em>Zheng-Fu Han</strong></em>, Attacking a practical quantum-key-distribution system with wavelength-dependent beam-splitter and multiwavelength sources, <em>Phys. Rev. A</em>, 84062308, 2011.<li>
<p>Shuang Wang, Wei Chen, Zhen-Qiang Yin, Hong-Wei Li, De-Yong He, Yu-Hu Li, Zheng Zhou, Xiao-Tian Song, Fang-Yi Li, Dong Wang, Hua Chen, Yun-Guang Han, Jing-Zheng Huang, Jun-Fu Guo, Peng-Lei Hao, Mo Li, Chun-Mei Zhang, Dong Liu, Wen-Ye Liang, Chun-Hua Miao, Ping Wu, Guang-Can Guo, <strong><em>Zheng-Fu Han</strong></em>, Field and long-term demonstration of a wide area quantum key distribution network, <em>Opt. Express</em>, 22(18), 21739--21756, 2014.<li>
<p>Guo-Wei Zhang, Wei Chen, Guan-Jie Fan-Yuan, Li Zhang, Fang-Xiang Wang, Shuang Wang, Zhen-Qiang Yin, De-Yong He, Wen Liu, Jun-Ming An, Guang-Can Guo, <strong><em>Zheng-Fu Han</strong></em>, Polarization-insensitive quantum key distribution using planar lightwave circuit chips, <em>Science China Information Sciences</em>, 65(10), 200506, 2022.</p>
</li>
</ol>