<h2 id="发表工作">发表工作</h2>
<ol>
<li>
<p>Shuang Wang, De-Yong He, Zhen-Qiang Yin, Feng-Yu Lu, Chao-Han Cui, Wei Chen, Zheng Zhou, Guang-Can Guo, <strong><em>Zheng-Fu Han</strong></em>, Beating the fundamental rate-distance limit in a proof-of-principle quantum key distribution system, <em>Physical Review X</em>, 9(2), 021046, 2019.<li>
<p>Shuang Wang, De-Yong He, Zhen-Qiang Yin, Feng-Yu Lu, Chao-Han Cui, Wei Chen, Zheng Zhou, Guang-Can Guo, <strong><em>Zheng-Fu Han</strong></em>, 2Beating the fundamental rate-distance limit in a proof-of-principle quantum key distribution system, <em>Physical Review X</em>, 9(2), 021046, 2019.</p>
</li>
</ol>