<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				<big><strong>2019</strong></big><br />
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Beating the fundamental rate-distance limit in a proof-of-principle quantum key distribution system.
			</span><br />
			<span class="authors">
				Shuang Wang, De-Yong He, Zhen-Qiang Yin, Feng-Yu Lu, Chao-Han Cui, Wei Chen, Zheng Zhou, Guang-Can Guo, and Zheng-Fu Han.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Review X 9(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				<big><strong>2022</strong></big><br />
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="/bib/pdf/s41566-021-00928-2.pdf">Twin-field quantum key distribution over 830-km fibre</a>.
			</span><br />
			<span class="authors">
				Shuang Wang, Zhen-Qiang Yin, De-Yong He, Wei Chen, Rui-Qiang Wang, Peng Ye, Yao Zhou, Guan-Jie Fan-Yuan, Fang-Xiang Wang, Yong-Gang Zhu, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Photonics 16(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
