---
layout: personal_page_default
---

<div class="row">
        <div class="col-md-3">

            <div style="text-align:center">
                <img src="{{ page.image }}" style="width: 80%;" >
            </div>

            <p>
            <h3>{{ page.name }}（{{ page.position }}）</h3>
            </p>

            {% if page.titles %}
            <p>
            <h5>{{ page.titles }}</h5>
            </p>
            {% endif %}

            {% if page.tutor %}
            <p>
            <h5>{{ page.tutor }}</h5>
            </p>
            {% endif %}

            {% if page.discipline %}
            <p>
            学科：{{ page.discipline }}<br>
            </p>
            {% endif %}

            {% if page.education %}
            <p>
            学历：{{ page.education }}<br>
            </p>
            {% endif %}

            {% if page.degree %}
            <p>
            学位：{{ page.degree }}<br>
            </p>
            {% endif %}

            {% if page.graduateFrom %}
            <p>
            毕业院校：{{ page.graduateFrom }}<br>
            </p>
            {% endif %}

            {% if page.office %}
            <p>
            办公地点：{{ page.office }}<br>
            </p>
            {% endif %}

            {% if page.phone %}
            <p>
            联系方式：{{ page.phone }}<br>
            </p>
            {% endif %}

            {% if page.email %}
            <p>
            邮箱：{{ page.email }}
            </p>
            {% endif %}

        </div>

        <div class="col-md-9">
            			
			     {{ content }}

        </div>
 </div>

</html>
